In [1]:
import pandas as pd
import numpy as np
np.random.seed(123)

In [2]:
# roll 8 dice, what are the odds of seeing a 3 then a 4 in each row/trial?
n_trials = 100_000_000
n_dice = 8
rolls = np.random.randint(1, 7, size=(n_trials, n_dice))
rolls = pd.DataFrame(rolls)

In [3]:
rolls.head()

   0  1  2  3  4  5  6  7
0  6  3  5  3  2  4  3  4
1  2  2  1  2  2  1  1  2
2  4  6  5  1  1  5  2  4
3  3  5  3  5  1  6  1  2
4  4  5  5  5  2  6  4  3

In [4]:
# Build the function to apply to a single row then use .apply(axis=1) to take care of the row-wise operation
def count_3_4(numbers):    
    """
    Checks for a consecutive 3 then 4 in a dataframe row
    returns True if there is a 3 immediately followed by a 4, row-wise
    returns False if not
    """
    numbers = numbers.values
    last_value = None
    count = 0

    for i, n in enumerate(numbers):

        if last_value == 3 and n == 4:
            count += 1
            last_value = n
        else:
            last_value = n    

    return count

In [5]:
rolls["count_3_4"] = rolls.apply(count_3_4, axis=1)
rolls.head()

   0  1  2  3  4  5  6  7  count_3_4
0  6  3  5  3  2  4  3  4          1
1  2  2  1  2  2  1  1  2          0
2  4  6  5  1  1  5  2  4          0
3  3  5  3  5  1  6  1  2          0
4  4  5  5  5  2  6  4  3          0

In [6]:
# Chances of rolling no 3 then 4, sequentially
p_none = (rolls.count_3_4 == 0).mean()

f"p(rolling no sequential 3 then 4) is {p_none}"

'p(rolling no sequential 3 then 4) is 0.81689559'

In [7]:
# Chances of rolling exactly 1 instance of a 3 then a 4, sequentially on 8 dice at a time
p_one = (rolls.count_3_4 == 1).mean()

f"p(rolling a single sequential 3 then 4) is {p_one}"

'p(rolling a single sequential 3 then 4) is 0.17196508'

In [8]:
# Chances of rolling exactly 2 instances of a 3 then a 4, sequentially on 8 dice at a time
p_two = (rolls.count_3_4 == 2).mean()

f"p(rolling two sequential 3 then 4) is {p_two}"

'p(rolling two sequential 3 then 4) is 0.0109271'

In [9]:
# Chances of rolling exactly 3 instances of a 3 then a 4, sequentially on 8 dice at a time
p_three = (rolls.count_3_4 == 3).mean()

f"p(rolling two sequential 3 then 4) is {p_three}"

'p(rolling two sequential 3 then 4) is 0.00021158'

In [10]:
# Chances of rolling exactly 4 instances of a 3 then a 4, sequentially on 8 dice at a time
p_four = (rolls.count_3_4 == 4).mean()

f"p(rolling two sequential 3 then 4) is {p_four}"

'p(rolling two sequential 3 then 4) is 6.5e-07'

In [11]:
# Chances of rolling exactly 5 instances of a 3 then a 4, sequentially on 8 dice at a time
p_five = (rolls.count_3_4 == 5).mean()

print(f"p(rolling five sequential 3 then 4) is {p_five}")

p(rolling five sequential 3 then 4) is 0.0