# Simulation Exercises

## Stratagy 

* Create a Dataframe the represents a study of the given scenario
* Each row in the Dataframe will repesent one trial in the study
* Each value in the data frame represents a randomly generated output based on the probability stated in the scenario
* Once the Dataframe is created we will check each row (or trial) to see if produced the tested for result
* Based on the number of rows (trials) that did and did not produce the tested for result we will calculate an overall probability of the tested for event

## Imports

In [1]:
import numpy as np
import pandas as pd
import random

### 1) How likely is it that you roll doubles when rolling two dice?

In [2]:
# set number of trials and events per trial

nrows = 100_000 # number of trials
ncols = 2       # number of random events in each trial

In [3]:
# generate an array of randomly generated numbers from 1-6 equal to the number of rows times the number of columns
# to generate all of the values for the study
np.random.choice([1, 2, 3, 4, 5, 6], nrows * ncols)

array([5, 2, 6, ..., 5, 4, 1])

In [4]:
# add .reshape to reshape the array by the number of rows and number of columns to create trial groups
rolls = np.random.choice([1, 2, 3, 4, 5, 6], nrows * ncols).reshape(nrows, ncols)
rolls

array([[4, 3],
       [4, 1],
       [2, 4],
       ...,
       [6, 2],
       [1, 4],
       [5, 2]])

In [5]:
# convert to data frame
df = pd.DataFrame(rolls)
df.head()

   0  1
0  4  3
1  4  1
2  2  4
3  2  1
4  6  1

In [6]:
# add .apply create an array that checks weather each row contains matching numbers
df.apply(lambda row: row[0] == row[1], axis=1)

0        False
1        False
2        False
3        False
4        False
         ...
99995    False
99996    False
99997    False
99998    False
99999    False
Length: 100000, dtype: bool

In [7]:
# add .mean to get the mean of that array to get the odds of rolling doubles on two six sided dice
df.apply(lambda row: row.values[0] == row.values[1], axis=1).mean()

0.16556

In [8]:
# All together
nrows = 100_000 # set nrows to number of simulations
ncols = 2       # set ncolumns to number of dice rolled in each simulation

# create an array of values that represent rollong a six sided dice
# reshape the array into trial groups of 2
rolls = np.random.choice([1, 2, 3, 4, 5, 6], nrows * ncols).reshape(nrows, ncols) 

# convert the array to a dataframe
df = pd.DataFrame(rolls)

# create an array that returns true if the numbers in each row are equal
# then take the mean of that array to find the total odds of rolling doubles
odds_of_doubles = df.apply(lambda row: row.values[0] == row.values[1], axis=1).mean()

# print result
print(f'The odds of rolling doubles on two fair 6 sided dice are {round(odds_of_doubles*100)}%')

The odds of rolling doubles on two fair 6 sided dice are 17%

### 2) If you flip 8 coins, what is the probability of getting exactly 3 heads? What is the probability of getting more than 3 heads?

In [9]:
nrows = 100_000 # set rows to number of simulations
ncols = 8       # set columns to number of random events in each simulation

# create an array of True/False values that represent coin flips True = Heads
# reshape the array into trial groups of 8
rolls = np.random.choice([True, False], nrows * ncols).reshape(nrows, ncols)

# create a dataframe from the array
df = pd.DataFrame(rolls)
df.head()

       0      1      2      3      4      5      6      7
0   True   True  False  False  False  False  False   True
1   True   True   True  False   True   True   True  False
2  False   True   True   True  False   True   True  False
3   True  False   True   True  False  False  False  False
4   True   True  False   True   True   True  False  False

In [10]:
# create an array that checks weather the sum of each row contains the desiered number of heads
# then take the mean of that array to find the total odds of flipping the desiered number of heads
three_heads = df.apply(lambda row: row.values.sum() == 3, axis=1).mean()
more_than_three_heads = df.apply(lambda row: row.values.sum() >= 3, axis=1).mean()

# print result
print(f'The odds of getting exactly three heads when flipping five coins is {round(three_heads*100)}%')
print(f'The odds of gettng three or more heads when flipping five coins is {round(more_than_three_heads*100)}%')

The odds of getting exactly three heads when flipping five coins is 22%
The odds of gettng three or more heads when flipping five coins is 86%

### 3) There are approximitely 3 web development cohorts for every 1 data science cohort at Codeup. Assuming that Codeup randomly selects an alumni to put on a billboard, what are the odds that the two billboards I drive past both have data science students on them?

In [11]:
nrows = 100_000 # set rows to number of simulations
ncols = 2       # set columns to number of bilboards in each simulation

# create an array of of values using random choice to repesent weather a given billboard is data science or web dev
# reshabe that array into trial groups of 2
rolls = np.random.choice(["DS","WEB","WEB","WEB"], nrows * ncols).reshape(nrows, ncols)

# convert to data frame
df = pd.DataFrame(rolls)
df.head()

     0    1
0   DS  WEB
1   DS   DS
2   DS  WEB
3   DS  WEB
4  WEB  WEB

In [12]:
# create an array of True/False values that check if both values in each row are data science
# then take the mean of that array to get the probability of driving past two data science signs
both_ds = df.apply(lambda row: (row.values[0] == "DS") and (row.values[1] == "DS"), axis=1).mean()

# print result
print(f'The odds of both billboards being Data Science are {round(both_ds*100)}%')

The odds of both billboards being Data Science are 6%

### 4) Codeup students buy, on average, 3 poptart packages (+- 1.5) a day from the snack vending machine. If on monday the machine is restocked with 17 poptart packages, how likely is it that I will be able to buy some poptarts on Friday afternoon?

In [13]:
nrows = 100_000 # set rows to number of simulations
ncols = 5       # set columns to number of days in each simulation

# create an array of values using random.normal to repesent the number of PopTarts bought in a day
# reshabe that array into trial groups of 5 to represent five days or PopTart buying
rolls = np.random.normal(3, 1.5, nrows * ncols).astype(int).reshape(nrows, ncols)

# convert to data frame
df = pd.DataFrame(rolls)
df.head()

   0  1  2  3  4
0  1  1  3  3  2
1  5  0  4  2  4
2  3  6  2  3  4
3  1  2  2  5  4
4  5  4  0  1  0

In [14]:
# count the number of bought PopTarts in each row and create a boolean array showing weather the total number of bought PopTarts equals or exceeds 17
# take the mean of the array to get the probability of having poptarts available to by on friday afternoon
odds_of_tarts = df.apply(lambda row: row.values.sum() < 17, axis=1).mean()

# print result
print(f'The odds of being able to by a PopTart in the afternoon on friday are {round(odds_of_tarts*100)}%')

The odds of being able to by a PopTart in the afternoon on friday are 88%

### 5) Men have an average height of 178 cm and standard deviation of 8cm. Women have a mean of 170, sd = 6cm. If a man and woman are chosen at random, P(woman taller than man)?

In [15]:
# use random.normal to create arrays representing male and female hights chosen at random
male_hights = np.random.normal(178, 8, 100_000)
female_hights = np.random.normal(170, 6, 100_000)

# convert the arrays to a to single dataframe where each row reprsents a female and male hight chosen at random
df = pd.DataFrame({"male_hights" : male_hights,
                   "female_hights" : female_hights})

# add boolean column showing true if the female hight is greater in each row (trial)
df['female_is_taller'] = df.female_hights > df.male_hights
df

       male_hights  female_hights  female_is_taller
0       185.853947     162.864074             False
1       165.722227     165.467049             False
2       189.815136     165.697561             False
3       172.094877     161.342780             False
4       193.587365     174.974431             False
...            ...            ...               ...
99995   162.960371     164.046187              True
99996   180.960672     168.706227             False
99997   175.339486     176.517374              True
99998   183.332250     177.285055             False
99999   178.098415     169.266398             False

[100000 rows x 3 columns]

In [16]:
# get mean of that column
taller_female = df['female_is_taller'].mean()

# print results
print(f"The probability of a woman, chosen at random, being taller than a man, chosen at random is {round(taller_female*100)}%")

The probability of a woman, chosen at random, being taller than a man, chosen at random is 21%

### 6) When installing anaconda on a student's computer, there's a 1 in 250 chance that the download is corrupted and the installation fails.

### a) What are the odds that after having 50 students download anaconda, no one has an installation issue? 100 students?

### b) What is the probability that we observe an installation issue within the first 150 students that download anaconda?

### c) How likely is it that 450 students all download anaconda without an issue?

In [17]:
nrows = 100_000 # set rows to number of simulations
ncols = 50      # set columns to number of students in each simulation

# create list with 249 falses and one true
issue_range = [False for r in range(1,250)]
issue_range.append(True)

# use random.choice to create an array representing whether there was an issue with a given student's Anaconda install
# reshape the dataframe into trial groups of the desiered number of students
installs = np.random.choice(issue_range, nrows * ncols).reshape(nrows, ncols)

# convert to data frame
df = pd.DataFrame(installs)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
# Sum the number of True values in each row (trial) 
# create a boolian array that shows true for each row (trial) that had more than zero Trues
# Take the mean of that array
has_problem = df.apply(lambda row: row.values.sum() == 0, axis=1).mean()


print(f'The odds of 50 students dowloading Anaconda without a problem are {round(has_problem*100)}%')

The odds of 50 students dowloading Anaconda without a problem are 82%

In [19]:
def anaconda_problem(number_of_students):
    
    nrows = 100_000 # set rows to number of simulations
    ncols = number_of_students # set columns to number of students in each simulation

    # create list with 249 falses and one true
    issue_range = [False for r in range(1,250)]
    issue_range.append(True)

    # use random.choice to create an arrepresenting whether there was an issue with a given student's Anaconda install
    # reshape the dataframe into trial groups of the desiered number of students
    installs = np.random.choice(issue_range, nrows * ncols).reshape(nrows, ncols)

    # convert to data frame
    df = pd.DataFrame(installs)

    # Sum the number of True values in each row (trial) 
    # create a boolian array that shows true for each row (trial) that had no Trues
    # Take the mean of that array to get the odds of not encountering any problems in the trial group
    no_problems = df.apply(lambda row: row.values.sum() == 0, axis=1).mean()
    
    # Sum the number of True values in each row (trial) 
    # create a boolian array that shows true for each row (trial) that had no Trues
    # Take the mean of that array to get the odds encountering any problems in the trial group
    problems = df.apply(lambda row: row.values.sum() > 0, axis=1).mean()

    print(f'The odds of {number_of_students} students downloading Anaconda without a problem are {round(no_problems*100)}%')
    print(f'The odds of {number_of_students} students downloading Anaconda encountering at least one problem are {round(problems*100)}%')

In [20]:
anaconda_problem(50)

The odds of 50 students downloading Anaconda without a problem are 82%
The odds of 50 students downloading Anaconda encountering at least one problem are 18%

In [21]:
anaconda_problem(100)

The odds of 100 students downloading Anaconda without a problem are 67%
The odds of 100 students downloading Anaconda encountering at least one problem are 33%

In [22]:
anaconda_problem(150)

The odds of 150 students downloading Anaconda without a problem are 55%
The odds of 150 students downloading Anaconda encountering at least one problem are 45%

In [23]:
anaconda_problem(450)

The odds of 450 students downloading Anaconda without a problem are 17%
The odds of 450 students downloading Anaconda encountering at least one problem are 83%

### 6) There's a 70% chance on any given day that there will be at least one food truck at Travis Park. However, you haven't seen a food truck there in 3 days. How unlikely is this?

### 7) How likely is it that a food truck will show up sometime this week?

In [24]:
def food_truck(days):
    
    # Remaining week days
    nrows = 100_000 # set rows to number of simulations
    ncols = days      # set columns to number of days in each simulation

    # create array with each value representing if a food truck has been spotted that day
    # reshape the array into trial groups of the desiered number of days
    sightings = np.random.choice([True, False], nrows * ncols, p=[.7,.3]).reshape(nrows, ncols)

    # convert to data frame
    df = pd.DataFrame(sightings)

    # Sum the number of True values in each row (trial) 
    # create a boolian array that shows true for each row (trial) that had no Trues
    # Take the mean of that array to get the odds of not encountering any trucks in the specified number of days
    no_truck = df.apply(lambda row: row.values.sum() == 0, axis=1).mean()
    
    # Sum the number of True values in each row (trial) 
    # create a boolian array that shows true for each row (trial) that had no Trues
    # Take the mean of that array to get the odds spotting at least one tuck in the desiered number of days
    truck = df.apply(lambda row: row.values.sum() > 0, axis=1).mean()

    print(f'The odds of not seeing a food truck in Travis Park for {days} days is {round(no_truck*100)}%')
    print(f'The odds of seeing at least one food truck in Travis Park in {days} days is {round(truck*100)}%')

In [25]:
for r in range(1,8):
    food_truck(r)
    print()

The odds of not seeing a food truck in Travis Park for 1 days is 30%
The odds of seeing at least one food truck in Travis Park in 1 days is 70%

The odds of not seeing a food truck in Travis Park for 2 days is 9%
The odds of seeing at least one food truck in Travis Park in 2 days is 91%

The odds of not seeing a food truck in Travis Park for 3 days is 3%
The odds of seeing at least one food truck in Travis Park in 3 days is 97%

The odds of not seeing a food truck in Travis Park for 4 days is 1%
The odds of seeing at least one food truck in Travis Park in 4 days is 99%

The odds of not seeing a food truck in Travis Park for 5 days is 0%
The odds of seeing at least one food truck in Travis Park in 5 days is 100%

The odds of not seeing a food truck in Travis Park for 6 days is 0%
The odds of seeing at least one food truck in Travis Park in 6 days is 100%

The odds of not seeing a food truck in Travis Park for 7 days is 0%
The odds of seeing at least one food truck in Travis Park in 7 days is 100%

### 8) If 23 people are in the same room, what are the odds that two of them share a birthday? What if it's 20 people? 40?

In [26]:
def shared_birthday(people):

    nrows = 100_000 # set rows to number of simulations
    ncols = people  # set columns to number of people in each simulation

    # create array with each value representing the numbered day of the year that person was born on. (This ignores leap years)
    # reshape the aray into trial groups
    sightings = np.random.choice([r for r in range(366)], nrows * ncols).reshape(nrows, ncols)

    # convert to data frame
    df = pd.DataFrame(sightings)

    # Add boolian column to df showing weather there are less unique numbers in each row (trial) than there are total columns
    df['matching_birthdays'] = df.nunique(axis=1) < ncols

    # get mean of calculation True/False columns
    # format and print results
    matching_birthdays = df['matching_birthdays'].mean()

    # print result
    print(f'The odds of a room of {ncols} people having at least two people that share a birthday are {round(matching_birthdays*100)}%')

In [27]:
num_list = [23, 20, 40]

for num in num_list:
    shared_birthday(num)

The odds of a room of 23 people having at least two people that share a birthday are 51%
The odds of a room of 20 people having at least two people that share a birthday are 41%
The odds of a room of 40 people having at least two people that share a birthday are 89%